@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista Telefônica</h1>
    <a asp-controller="Contato" asp-action="Index"><button>Acessar seus contatos</button></a>
</div>