@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista Telefônica</h1>
    <button><a asp-controller="Contato" asp-action="Index">Acessar seus contatos</a></button>
</div>